@tailwind base;

@tailwind components;

@tailwind utilities;

.loader{
    @apply rounded-full w-16 h-16;
    border: solid 4px transparent;
    border-top-color: black;
    border-bottom-color: black;
}

.list-exercices-item:hover > .list-exercices-item-img{
    opacity:0.8;
    transform: scale(1.2);
}

.list-exercices-item:hover > .list-exercices-item-text{
    opacity:0;
    transform: translateY(-3em);
}

.home-page-link:hover > .home-page-link-icon{
    transform: translateX(0.5em);
}