@media (max-width: 700px) {
    #player-card{
        border-radius: 15px 15px 0 0 !important;
    }
    #playlist-container{
        display: block !important;
    }
    #list-card{
        border-top: solid 2px #ef6c00;
        border-left: unset !important;
        border-radius: 0 0 5px 5px !important;
    }
}